@model WebApplication1.Models.ViewRecordsModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table>
    <tr>
        <td>Date</td>
        <td>Wallet</td>
        <td>Detail</td>
        <td>Income</td>
        <td>Expense</td>
        <td>Balance</td>
    </tr>
    @{
        decimal balance = 0;
        foreach (var item in Model.recordslist)
        {
            balance = balance + item.Amt;
        }
    }
    @foreach (var item in Model.recordslist)
    {
        <tr>
            <td>@item.Date.ToString("yyyy-MM-dd")</td>
            <td>@item.Wallet</td>
            <td>@item.Detail</td>
            @if (item.Amt > 0)
            {
                <td>@((int)item.Amt)</td>
                <td></td>
            }
            else
            {
                <td></td>
                <td>@((int)item.Amt*-1)</td>
            }

            <td>@balance</td>
        </tr>

        balance = balance - (int)item.Amt;

    }
</table>